[Unit]
Description=Never Perish. Ever.
After=network.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=2

[Service]
Type=oneshot
ExecStart=/etc/noperish/NPStartup-Linux

[Install]
WantedBy=multi-user.target