[Unit]
Description=NoPerish
After=network.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=2

[Service]
Type=oneshot
ExecStart=/usr/sbin/noperish
ExecStartPre=/bin/timeout 60 /bin/bash -c 'until host github.com; do sleep 1; done'

[Install]
WantedBy=multi-user.target